<!-- templates/project_details.html -->

{% extends 'base.html' %}


{% block content %}
<h2>Project details</h2><hr/>
<h2>{{ project.title }}</h2>
<h4>Project description </h4>
<p>{{ project.description }}</p> 
<p> Technology used : {{ project.technology_used }}</p> 
<p> created : {{ project.date_created }} </p>
<ul>
    <h4>To view this project follow the links below </h4>
    <li> <a href="{{ project.project_url }}"> {{project.project_url }}</a> </li>
    <li> <a href="{{ project.project_repository }}"> {{project.project_repository }}</a> </li>
</ul>

{% endblock content %}