<!-- templates/project_details.html -->

{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="{% static 'img/homepage.jpeg' %}" alt="" width="30%" height="50%">
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p> Technology used : {{ project.technology_used }}</p> 
        <p> created : {{ project.date_created }} </p>
        <ul>
            <h4>To view this project follow the links below </h4>
            <li> <a href="{{ project.project_url }}"> {{project.project_url }}</a> </li>
            <li> <a href="{{ project.project_repository }}"> {{project.project_repository }}</a> </li>
        </ul>

    </div>
    <a href="{% url 'projects' %}">Go back</a>
</div>

{% endblock content %}